/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Colour Pallete
# Generic (CALLED IN NORMALIZE.CSS)
# Base
	- Typography
	- Elements
	- Links
    - Reuseable Classes
# Components
    - Header
    - Main
    - Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Colour Pallete
--------------------------------------------------------------*/
/* 
    #0EA5E9 - main-colour
    #FFFFFF - accent-colour
    #1E293B - secondary-colour
    #0F172A - background-colour
    1E293B
*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography */
body {
    margin: 0 auto;
    background-color: #0F172A;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
}

/* Elements */
html, body {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

ul, 
li, 
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Links */
a,
a:visited {
    color: #FFFFFF;
    border-bottom: 0.2rem solid transparent;
}

a:hover,
a:focus {
    color: #0035A9;
    border-bottom: 0.2rem solid #0035A9;
}   

a:focus,
a:active {
    outline: 0.1rem solid    #0035A9;
    outline-offset: 0.1rem;
    border-radius: 0.1rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header */

.icons {
    width: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1E293B;
    padding: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

.logo img {
    width: 5rem;
}

.nav-btn {
    display: flex;
    justify-content: end;
    z-index: 99;
}

.open-btn {
    width: 0.6rem;
}

.close-btn {
    display: none;
    width: 1.6rem;
}

.nav-bar {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    flex-direction: column;
    padding: 1rem;
    background-color: #1E293B;
    padding-top: 5.0625rem;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-links li{
    text-align: center;
    padding: 1rem;
    background-color: #0EA5E9;
    border-radius: 0.5rem;
}

.show-nav-bar {
    transform: translateY(0);
}

@media (min-width: 50em) {

    .left-position {
        width: 25vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    .header {
        height: 85vh;
        justify-content: space-around;
        flex-direction: column;
    }

    .logo {
        flex-direction: column;
    }

    .nav-btn {
        display: none;
    }

    .nav-bar {
        position: relative;
        transform: none;
        padding: 0;
    }

    .nav-links {
        flex-direction: column;
        position: relative;
        background-color: #1E293B;
        gap: 1rem;
        font-size: 0.9rem;
    }
}

@media (min-width: 60em) {
    
    .left-position {
        width: 15vw;
    }
}

/* Main */
main{
    text-align: center;
}

/* Sections - What is TailWind & What does it do?*/
.defn, #purpose{
    margin: 15rem auto;
    text-align:left;
    padding: 2rem;
}

@media (min-width: 50em) {
    .defn{
        display: grid;
        grid-template-columns: 55% auto;
        max-width: 55rem;
    }

    #purpose{
        max-width: 55rem;
    }
}

/* Section - Why use it?*/

/* Section - where to use it? */

.uses {
    margin: 15rem auto;
    text-align:left;
    padding: 2rem; 
}
 .net {
    margin-top: 3rem;
    margin-bottom: 1rem;

 }

.content1 {
    margin-bottom: 5rem;
}

.shop {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.other-list {
   margin-top: 1rem;
}

.scenarios ol li {
    list-style: decimal;
}

.other-scenarios ul li, ul.defn-list li, #purpose ul li {
    list-style: disc;
}

@media (min-width: 50em) {
    .uses {
        max-width: 55rem;
    }
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    background-color: #1E293B;
    padding: 1rem;
}

.footer a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

@media (min-width: 50em) {

    .footer {
        margin: 0;
        flex-direction: column;
        top: auto;
        bottom: 0;
        height: 15vh;
        font-size: 0.8rem;
    }
}