/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Colour Pallete
# Generic (CALLED IN NORMALIZE.CSS)
# Base
	- Typography
	- Elements
	- Links
# Components
    - Header
    - Main
    - Footer
# Body Layout Media Query
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Colour Pallete
--------------------------------------------------------------*/
/* 
    #0EA5E9 - main-colour
    #FFFFFF - accent-colour
    #1E293B - secondary-colour
    #0F172A - background-colour
    1E293B
*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography */
body {
    margin: 0 auto;
    background-color: #0F172A;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
}

/* Elements */
ul, 
li, 
a {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Links */
a,
a:visited {
    color: #FFFFFF;
    border-bottom: 0.2rem solid transparent;
}

a:hover,
a:focus {
    width: 100%;
    color: #0035A9;
    border-bottom: 0.2rem solid #0035A9;
}   

a:focus,
a:active {
    outline: 0.1rem solid    #0035A9;
    outline-offset: 0.1rem;
    border-radius: 0.1rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header */

.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #1E293B;
    width: 12.5rem;
    padding: 1rem;
}
